<li><a href="#/<%= id %>" ><%= title %> </a></li>
<!-- <<li><%= content %></li>
<li><%= tag %></li> 

<li><a href="#/<%= id %>">Show</li>
<li><a href="#/<%= id %>/edit">Edit</li>
<li><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></li>  -->